[Desktop Entry]
Encoding=UTF-8
Version=0.1.5
Type=Application
Name=emufront
Icon=emufront
Comment=Universal emulator front-end
Exec=/usr/bin/emufront
Categories=Game
